body {
    background: #000;
    max-width: 800px;
    margin: 0 auto;
    color: #eee;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

/* Buttons */

ul {
    margin: 0px;
    display: inline-block;
    list-style: none;
}

.dissabled {
    opacity: 0.3;
    pointer-events: none;
    cursor: default;
}

.dissabled:hover {
    transform: none;
}

li {
    display: inline-block;
    text-decoration: none;
    transition: all ease-in-out .1s;
}

li:hover {
    transform: scale(1.2);
}

.column {
    float: left;
    height: auto;
}

.left{
    width: 30%;
    text-align: center;
}

.right {
    width: 70%;
}

.left img {
    margin: 10px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}


/* Youtube Embed */

.frameHD {
    clear: both;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56%;
}

.responsive {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Fusion About Section */

.fusion {
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    border: #FFF solid 4px;
    border-radius: 10px;
    box-shadow: #999 0 0 10px, inset #666 0 0 20px;
    -webkit-box-shadow: #999 0 0 10px, inset #666 0 0 20px;
    -moz-box-shadow: #999 0 0 10px, inset #666 0 0 20px;
    -o-box-shadow: #999 0 0 10px, inset #666 0 0 20px;
    transition: all ease-in-out .2s;
}

.fusion:hover{
    box-shadow: #999 0 0 30px, inset #666 0 0 30px;
    -webkit-box-shadow: #999 0 0 30px, inset #666 0 0 30px;
    -moz-box-shadow: #999 0 0 30px, inset #666 0 0 30px;
    -o-box-shadow: #999 0 0 30px, inset #666 0 0 30px;
}

.fusion h2 {
    margin: 0px;
}

.fusion h5 {
    margin: 0px;
    color: #eee;
    padding-left: 20px;
}

.fusion h5 a {
    color: #eee;
}

.fusion p {
    font-size: 18px;
    padding-left: 10px;
}

.fusion .icon {
    float: right;
    margin: 9px;
}

/* Footer details */

footer {
    cursor: default;
    margin: 150px 30px 30px 30px;
    text-align: center;
}

footer a {
    color: #999;
}

footer h5 {
    margin: 0px;
    font-weight: 100;
    font-size: 12px;
}

/* Mobile */

@media only screen and (max-width: 700px) {
    
    /* Buttons */
    ul {
        text-align: center;
        margin: 0px;
        padding: 0px;
    }

    /* Table */
    .column {
        float: none;
    }

    .right {
        width: 100%;
    }

    .left {
        width: 100%;
    }

    .right h2 {
        display: none;
    }

}